.formControl {

}

.formControl.error input,
.formControl.error textarea {
    border: 1px solid red;
}

.error {
    color: lightcoral;
    font-size: 18px;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: indianred;
}
