.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "header header"
                       "nav content";
}

header.header {
  grid-area: header;
  background: green;
}

header.header img {
  width: 20px;
}

nav.nav {
  grid-area: nav;
  background: burlywood;
}

div.content {
  grid-area: content;
  background: cornflowerblue;
}
